{% extends "basic.html" %}
{% load materializecss %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
<div class="container">
    <div class="row" style='margin-top:50px;'>
        <div class="col s8">
            <div class=" ui card" style="margin-left:20%; margin-top:5%; width:100%;"> 
                <h4 class="teal darken-2 white-text" style="text-align: center; padding:3%;">Изменить пароль</h4>
                <form action="." method="POST" class="container-fluid bg-primary text-center shadow p-5">
                    <div class="form-row">
                        <div class="form-group">
                            {{form|materializecss}}
                            <button class="waves-effect waves-light btn center-align " style="width: 100%;">Отправить</button>
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}