{% extends "basic.html" %}
{% block title %}Changed password{% endblock %}
{% block content %}
<div class="container">
    <div class="row" style='margin-top:50px;'>
        <div class="col s8">
            <div class="ui card center-align teal darken-2" style="margin-left:30%; margin-top:5%; width:100%;">
                <h3 style="text-align: center; padding:3%;">Вы усаешно изменили свой пароль</h3>
                <a href="{% url 'login' %}"><img src="/static/img/icons/tj.png"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}