{% extends "basic.html" %}
{% load materializecss %}
{% block title %}Create an account{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s8">
      <div class=" ui card center-align white-text" style="margin-left:20%; margin-top:15%; width:100%;"> 
              <h5 class="teal darken-2" style="padding: 3%;">Зарегистрируйтесь</h5>
        <form class="card-panel" action="{% url 'register' %}" method="POST" accept-charset="utf-8" enctype="multipart/form-data"  style="display: block;">
          {% csrf_token %}
          {{form|materializecss}}
          <button class="waves-effect waves-light btn center-align" style="width: 100%;">зарегистрироваться</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}