{% extends 'basic.html' %}
{% load materializecss %}
{% block title %}add_savol{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
          <div class="col s8">
            <div class=" ui card" style="margin-left:20%; margin-top:5%; width:100%;"> 
            <form class="card-panel" action="" method="POST"  enctype="multipart/form-data" style="display: block;">
                <h3 style="text-align: center; margin:10px;">Редактировать вопрос</h3>
                {% csrf_token %}
                {{ form|materializecss }}                
                <button class="waves-effect waves-light btn center-align" style="width: 100%;">Сохранить</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}